.site-head {
  text-transform: uppercase;
  letter-spacing: var(--uppercase-kerning);
  line-height: var(--leading-flat);
  font-size: var(--size-step-00);
  font-weight: var(--font-bold);
  padding-block-start: var(--space-md);
}

.site-head .repel {
  --gutter: var(--space-md);
}

.site-head__brand {
  container-type: inline-size;
  container-name: site-head-brand;
  flex-basis: clamp(25ch, 60%, 50rem);
  flex-grow: 1;
  font-weight: 900;
}

.site-head__brand a:not(:hover) {
  text-decoration: none;
}

.site-head__inner {
  align-items: center;
}

.site-head hr {
  --flow-space: var(--space-md);
  --hr-stroke: var(--stroke-width) solid var(--color-brand-primary);
}
